# Origin backend (TANPA akhiran /api, karena axios baseURL otomatis menambahkan /api)
VITE_API_URL=http://localhost:8000

# Public key RSA (baris baru ditulis dengan \n) untuk enkripsi field sensitif
VITE_RSA_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nYOUR_PUBLIC_KEY\n-----END PUBLIC KEY-----"
